        <header>
          <div class="header__toggle-menu-btn">
            <span></span>
          </div>
          <div class="header__search">
            <ion-icon name="search-outline"></ion-icon>
            <input type="text" class="search-input" placeholder="Search" />
          </div>
          <div class="header__profile">
            <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
            <span class="name"><%=name%></span>
            <span class="name"><%=role%></span>
          </div>
        </header>